{% extends 'news/base.html' %}

{% block title %}Create News Page{% endblock %}

{% block content %}
<div>
    <h1 class="hello">Create News</h1>
    <form method="post">
        <input type="text" placeholder="news name" class="form-control"><br>
        <input type="text" placeholder="news anons" class="form-control"><br>
        <textarea placeholder="news content" class="form-control"></textarea><br>
        <input type="date" class="form-control"><br>
        <input type="time" class="form-control"><br>
        <button class="btn btn-success" type="submit">Добавить</button>
    </form>

</div>
{% endblock %}